<div class="layout-topbar">
    <a href="#" class="layout-menubutton" [ngClass]="{'layout-menubutton-active': app.menuActive}" (click)="app.onMenuButtonClick($event)">
        <div class="layout-menubutton-icon"></div>
    </a>

    <div class="layout-topbar-grid">
        <div class="layout-topbar-grid-column layout-topbar-grid-column-fixed">
            <a href="#" class="layout-logo">
                <img src="assets/layout/images/logo-white.svg" alt="sapphire-layout" />
            </a>
        </div>

        <div class="layout-topbar-grid-column">
            <app-menu></app-menu>
        </div>

        <br><br><br><br><br>
    </div>
</div>
