<div class="card">
    <form [formGroup]="formCliente" (ngSubmit)="Crear()">
        <!-- Área de barra titulo y acción principal -->
        <p-toolbar>
            <div class="p-toolbar-group-left">
                <h2>Registrar Cliente</h2>
            </div>
            <div class="p-toolbar-group-right">
                <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="Regresar()"></button>
                <button pButton pRipple label="Crear" icon="pi pi-check" class="ml-2" type="submit"></button>
            </div>
        </p-toolbar>
        <p-divider></p-divider>

        <!-- Área de campos a llenar -->
        <div class="p-fluid p-formgrid mx-5">
            <div class="field">
                <label>Nombre</label>
                <input pInputText type="text" formControlName="nombre"/>
            </div>
            <div class="field">
                <label>Apellido</label>
                <input pInputText type="text" formControlName="apellido"/>
            </div>
            <div class="field">
                <label>Número de indentificacións</label>
                <input pInputText type="text" formControlName="numero_identificacion"/>
            </div>
            <div class="field">
                <label>Fecha de nacimiento</label>
                <input pInputText type="text" formControlName="fecha_nacimiento"/>
            </div>
            <div class="field">
                <label>Dirección</label>
                <input pInputText type="text" formControlName="direccion"/>
            </div>
            <div class="field">
                <label>Correo electrónico</label>
                <input pInputText type="text" formControlName="email"/>
            </div>
            <div class="field">
                <label>Teléfono</label>
                <input pInputText type="text" formControlName="telefono"/>
            </div>
        </div>
    </form>
</div>