<p-toolbar styleClass="mb-4">
    <ng-template pTemplate="left">
        <div class="my-2">
            <button pButton pRipple
                label="Nuevo"
                icon="pi pi-plus"
                class="p-button-success mr-2"
                (click)="generalService.appendRuta('nuevo')">
            </button>
            
            <button pButton pRipple
                label="Eliminar"
                icon="pi pi-trash"
                class="p-button-danger"
                (click)="deleteSelected()"
                [disabled]="!selectedRows || !selectedRows.length">
            </button>
        </div>
    </ng-template>

</p-toolbar>