<div class="grid">
    <div class="col-12">
        <div class="card">
            <!-- Acciones generales -->
            <app-toolbar-table
                [selectedRows]="selectedRows"
                [data]="dt" (delete)="deleteSelected()">
            </app-toolbar-table>
            
            <!-- Datos -->
            <p-table #dt
                responsiveLayout="scroll"
                [value]="tableData" [columns]="selectedColumns" selectionMode="multiple" [rowHover]="false"
                [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10,20,30]"
                [showCurrentPageReport]="true" currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} entradas">
                
                <ng-template pTemplate="caption">
                    
                </ng-template>
                
                <!-- Encabezado de la tabla -->
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th>
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th *ngFor="let col of columns" pSortableColumn="{{col}}">
                            {{col.replaceAll('_',' ') | titlecase}}
                            <p-sortIcon field="{{col}}"></p-sortIcon>
                        </th>
                        <th></th>
                    </tr>
                </ng-template>

                <!-- Mostrar datos en la tabla -->
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
                        </td>
                        <td *ngFor="let col of columns">
                            <ng-container *ngIf="!col.includes('fecha'); else fecha">
                                <ng-container *ngIf="col!=='estado'; else estado">
                                    {{rowData[col]}}
                                </ng-container>
                                <ng-template #estado>
                                    <span [ngClass]="rowData[col]==='CREADO'? 'badge activo': 'badge eliminado'">
                                        {{rowData[col]}}
                                    </span>
                                </ng-template>
                            </ng-container>
                            <ng-template #fecha>
                                {{rowData[col] | date:'dd/MM/yyyy h:mm:ssa'}}
                            </ng-template>
                        </td>
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil" title="Editar" class="p-button-rounded p-button-success mr-2" (click)="generalService.appendRuta('editar',rowData['IdCliente'])"></button>
                                <button pButton pRipple icon="pi pi-trash" title="Eliminar" class="p-button-rounded p-button-warning" (click)="deleteSelected(rowData)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>

                <!-- Mostrar si no hay datos en la tabla -->
                <ng-template pTemplate="emptymessage" let-columns>
                    <tr>
                        <td [attr.colspan]="selectedColumns.length+2" style="text-align: center;">
                            No se encontraron registros
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>

<p-confirmDialog
    key="confirmDialog"
    acceptLabel="Si" rejectLabel="No" 
    [style]="{width: '50vw'}" [baseZIndex]="10000"
    acceptButtonStyleClass="p-button-text" rejectButtonStyleClass="p-button-text">
</p-confirmDialog>