@import "../node_modules/primeng/resources/primeng.min.css";
@import "../node_modules/primeflex/primeflex.scss";
@import "../node_modules/primeicons/primeicons.css";
@import "../node_modules/prismjs/themes/prism-coy.css";

.badge {
    border-radius: 2px;
    font-size: smaller;
    font-weight: bold;
    padding: 8%;
  }
.activo { background-color: rgb(160, 250, 160); color: rgb(63, 158, 63); }
.eliminado { background-color: rgb(250, 160, 160); color: rgb(158, 63, 63); }